.category {
    button {
        padding: 5px 37px;
        background: none;
        box-shadow: 0px 1px 0px 0 #9e9191;
        border: 1px solid;
        border-radius: 5px;
    }

    button:hover {
        background: #b31d39ed;
        color: #fff;
    }
}

.questions {
    box-shadow: 0px 0px 1px 0px;
    border-radius: 5px;

    .container {
        border-bottom: 1px solid #ccc2c2;
        border-radius: 5px;

        .question_list {
            h4 {
                font-family: emoji;
            }

            .selected {
                color: #ead638 !important;
            }

            .wrongAnswer {
                color: #b31d39ed;
            }
        }
    }
}