<div class="category d-flex justify-content-around mb-4">
    <button (click)="questionCategory('esay')" [ngStyle]="selectCategory == 'esay' ? {'color': '#fff', 'background-color': '#36af5c'} : {}">Easy</button>
    <button (click)="questionCategory('medium')"[ngStyle]="selectCategory == 'medium' ? {'color': '#fff', 'background-color': '#d7d028'} : {}">Medium</button>
    <button (click)="questionCategory('advanced')"[ngStyle]="selectCategory == 'advanced' ? {'color': '#fff', 'background-color': '#b31d39ed'} : {}">Advanced</button>
</div>
<div class="questions w-75 m-auto p-2">
    <h4 class="text-center text-decoration-underline m-4 text-underline">Angular Quiz</h4>
    @for (question of angularQuizQns; track question.id;let i =$index){
    <div class="container w-75 mt-2 mb-2">
        <div class="question_list mb-4">
            <h4 [class.selected]=" isSubmited && !this.selectedAnswers[question.id] "
                [ngClass]="isSubmited && this.selectedAnswers[question.id] !== question.answer?'wrongAnswer':''">
                <span>{{i+1}}.
                </span> {{question.question}}
            </h4>
            @for( option of question.options; track $index){
            <div class="m-3 mr-3">
                <input type="radio" [name]="'q' + question.id" [value]="option" (change)="onChange(option)"
                    [(ngModel)]="selectedAnswers[question.id]">&nbsp;
                <label for="">{{option}}</label>
            </div>
            }
        </div>
    </div>
    }
</div>
<button type="button" class=" btn btn-primary d-grid col-6 mx-auto m-3 mb-3" data-target="#answerDetailsData"
    (click)="onSubmit()">Submit</button>